@import '_variables';
.react-tabs__tab-list {
  border-top: $border;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  @extend %text-semibold;
  font-size: 0.75rem;
  line-height: 1rem;
  text-transform: uppercase;

}

.react-tabs__tab {
  display: inline-block;
  position: relative;
  list-style: none;
  width: 100%;
  border-bottom: $border;
  text-align: center;
  padding: $s-12;
  color: $gray-lighten-25;
  cursor: pointer;
  background-color: $gray-lighten-10;
}

.react-tabs__tab--selected {
  background: white;
  color: $blue-base;
}

.react-tabs__tab--disabled {
  color: $gray-lighten-20;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}
